#LotusFramework{
	background-color:#eceaea;
	padding:20px;
	font-family :'PT Sans' !important;
	color:#84c770;
}

#LotusFramework p#signature{
	margin:0px ;
	padding:0px ;
	font-size:17px ;

}

#LotusFramework h2{
	margin:0px ;
	padding:0px ;
}

#copyright{
	font-style: italic;
}


#LotusFramework .box{
	background-color:#eceaea;
	padding:20px;
	font-family :'PT Sans' !important;
	color:#84c770;
}

#LotusFramework p#signature{
	margin:0px ;
	padding:0px ;
	font-size:17px ;

}

#LotusFramework p{
	margin:0px ;
	padding:0px ;
}

#LotusFramework h2{
	margin:0px ;
	padding:0px ;
}

#LotusFramework .notice{
	background-color: #F5FDB7;
	color: #AC553A;
	margin-bottom:20px;
}

#LotusFramework .notice b{
    background-color: rgb(255, 159, 37);
    padding:0px 4px;
}

/*
 * Table
 */
 
#LotusFramework table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	width: 100%;
	 border-spacing: 1px;
    border-collapse: separate;
}

#LotusFramework td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
	margin:0px;

	border:1px solid red;
}
#LotusFramework tr{
	border:none;
	margin:0px;
	padding:0px;
}


#LotusFramework td.line {
	text-align:center;
    color:red;
}