/* Move down content because we have a fixed navbar that is 50px tall */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,300);
@font-face{
        font-family: OpenSans-Regularimport;
        src:url(OpenSans-Regular.ttf);
} 
@font-face{
        font-family: OpenSans-Regularimport;
        src:url(OpenSans-Regular.ttf);
} 
body,html{
	height: 100%;
	padding: 0;
	margin: 0;
}
img{
	max-width:100%;  
	height:auto;
}
h2,h3,h4{
	font-family: "Georgia", serif !important;
	margin-top: 20px !important;
}
p{
	font-family: 'Open Sans', sans-serif !important;
	margin: 0px 12px 10px !important;
	font-size: 14px;
	font-weight: 400 !important;
}
a{
	font-family: "Open Sans", serif;
	font-size: 13px;
	color: #000000;
	text-decoration: underline;
}
hr{
	border-color: #90270f; 
	border-width: 3px;
	margin-left: 33%;
	margin-right: 33%;
}
label:hover, label:focus{
	color:inherit;
}
.main{
	width: 100%;
	background-color: #f8f8f8;
}
#top-nav{
	display: inline-flex !important;
/* 	comment on bootstrap css min-height on 3508 */
	margin-bottom: 0px !important;
}
#top-nav > li{
	z-index: 6;
}
#top-nav > li > a {
	line-height: 0px !important;
	font-size: 12px;
	font-weight: 400;
	color: #ffffff;
	padding-top: 13px;
	padding-bottom: 13px
}
.dropdown-menu > li{
	width: 100%;
}
#main-nav{
	background-color: #ffffff !important;
	border-color: #ffffff !important;
	padding-top: 15px;
	z-index: 3;
}
.main-nav{
	height: 50px;
	padding-left: 0px;
}
.si-icons span {
    display: none;
    width: 50px;
	height: 48px;
	margin: -5px 10px
}
.navbar{
	margin-bottom: 0px !important;
  	background-color: rgb(34,34,34);
  	border: none !important;
}
.navbar-wrapper{
	background-color: rgb(34,34,34);
}
.navbar-toggle{
	background-color: rgb(34,34,34) !important;
	float: left;
	margin: 0 0 0 15px;
}
.navbar-collapse.in {
	float: left;
	border: none;
}
#main-menu,#main-menu > li{
	height: 70px;
}
#main-menu > li > a {
	font-size: 16px !important;
	font-family: "Georgia", serif;
	height: 70px;
	color: #656565;
}
#main-menu > li > a:hover{
	border-bottom: 4px solid #90270f;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: none !important;
    background-color: #ffffff;
    border-bottom: 4px solid #90270f !important;
} 
.navbar-inverse .navbar-nav > li > a {
    color: none !important;
}

/* ============================= Homepage style ================================ */


#container{
	margin-top: 30px;
}
.carouselh a{
	text-decoration: none;
	color: rgb( 51, 51, 51);
}
.row{
	padding-left: 10px;
	padding-right: 10px;
}

#pilih{
	margin-left: 0px;
	margin-top: 25px;
	width: 100%;
}
#check-box{
	margin-top: -55px;
}
#check-in{
	background-color: #1c1c1c;
	border-bottom: 5px solid #90270f;
	z-index: 6;
	position: relative;
}
.checking-in{
	margin: 30px 20px;
}
.col-md-4{
	text-align: center;
}
.input{
	padding-left: 0px;
}
.check{
	padding-right: 0px;
}
.room{
	padding-left: 0px;
}
.column:first-child{
	padding-left: 0px !important;
	padding-right: 20px !important;
}
.column:not(:first-child),.column:not(:last-child) {
  padding-right:13px;
  padding-left:13px;
}
.column:last-child{
	padding-right: 0px;
	padding-left: 20px;
}
.column a{
	text-decoration: none;
}
.content {
	background-color:#ffffff;
	padding-top: 13px;
	padding-bottom: 13px;
	border: 1px solid #dddddd;
	text-align: center;
}
.content h3{
	font-size: 20px;
	margin-bottom: 5px;
	font-weight: 400;
}
.content p{
	margin-top: 20px !important;
	font-size: 14px;
}
#main-bottom{
	background-color: #ffffff;
	border-top: 1px solid #dddddd;
	margin-top: 60px;
	padding-bottom: 20px;
	color: #1c1c1c;
}
#bottom-wrapper{
	padding-left: 0px !important;
	padding-right: 0px;
}
#bottom-wrapper h3{
	margin-top: 30px !important;
	margin-bottom: 20px !important;
}
#offer{
	padding-left: 15px !important;
}
#offer p,#news p{
	margin: 0px !important;
	font-size: 14px;
}
#news{
	text-align: left;
}
.news-wrapper{
	border-top: 1px solid #ddd;
	padding: 10px 0px 5px 0px;
}
p.see-more{
	font-family: "Times New Roman",Georgia,Serif !important;
	font-style: italic;
	color: #d18706;
	font-size: 15px;
	border-top: 1px solid #ddd;
	padding-top: 10px;
}

/* ============================= Search Result ================================ */

#room{
	border: 1px solid #dddddd;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 20px;
	background-color: #ffffff;
}
#room-search{
	margin-top: 20px;
}
.room-tabs {
	border-bottom: none !important;
	background-color: transparent !important;
	margin: 0px -15px !important;
}
.room-tabs > li{
	width: auto !important;
	text-align: center;
	font-weight: 700;
	border-top: 4px solid #aaaaaa;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin-right: 3px;
	background-color: #eeeeee;
}
.room-tabs > li.active{
	border-top: 4px solid #90270F;
	background-color: #ffffff;
	margin-right: 3px;
}
.room-tabs > li > a{
	border-radius: 0 0 0 0 !important;
	color: #3a3a3a !important;
	font-size: 15px !important;
	font-family: "Georgia", serif !important;
	line-height: 0.8 !important;
	margin-bottom: -1px;
	margin-right: -1px;
}
.room-tabs > li.active > a, 
.room-tabs > li.active > a:hover, 
.room-tabs > li.active > a:focus{
	background-color: #FFFFFF !important;
	color: #3a3a3a !important;
	line-height: 0.8 !important;
	margin-right: 0px !important;	
}
.room-tabs > li > a:hover{
	line-height: 0.8 !important;
	color: #000;
	margin-right: -1px !important;
	border-right: 1px solid #ddd;
	background-color: #ffffff;
}
#room-tab-content > .tab-pane{
	display: none;
}
#room-tab-content > .active{
	display: block;
}
.room1, .room2, .room3 {
    padding: 0px !important;
	background-color: #f8f8f8 !important;
    border: none !important;
    margin-bottom: 0px !important;
}
#room p{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.thumb{
	margin-top: 15px;
	margin-bottom: 15px;
}
.price{
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #f8f8f8;
}
#room-wrap{
	position: relative;
	height: 200px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.room-name{
	font-family: "Droid Serif", serif;
	font-size: 25px;
	font-weight: 100;
	margin-top: 0px !important;
	margin-bottom: 20px;
}
.room-desc{
	color: #1c1c1c;
	font-size: 14px;
}

.room-info{
	bottom: 0px;
	left: 7px;
	position: absolute;
	display: inline-flex;
}
ul.room-info > li {
    color: #D18706;
    display: list-item;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    list-style-type: disc !important;
    margin-left: 21px;
}
.room-info p{
	color: #d18706;
	font-size: 12px;
}
.price-label{
	font-weight: 700;
	font-size: 14px;
}
.pricetag{
	font-size: 28px;
	font-weight: 700 !important;
	color: #90270f;
	margin-bottom: 0px !important;
}
.price-info{
	font-style: italic;
	font-size: 12px;
	color: #aaaaaa;
}
.other-request p.other-req{
	margin-bottom: 5px !important;
	padding-left: 0px;
}

/* ============================= Booking summary ================================ */

.tab-wrap{
	padding-top: 40px;
	color: #1c1c1c;
	font-family: "Open Sans",serif;
}
.booking-tabs {
	border-bottom: 1px solid rgb(221, 221, 221);
	background-color: rgb(28, 28, 28);
	
}
.booking-tabs > li{
	width: 50%;
	text-align: center;
	font-weight: 700;
	margin-top: -3px;
	margin-bottom: 0px;
}
.booking-tabs > li > a{
	border-radius: 0 0 0 0 !important;
	color: #fff;
	font-size: 15px !important;
	line-height: 1.8;
	padding: 7px 15px;
}
.booking-tabs > li.active > a, 
.booking-tabs > li.active > a:hover, 
.booking-tabs > li.active > a:focus{
	background-color: #90270F;
	border-color: transparent !important;
	color: #fff;
	line-height: 1.8;
	margin-right: -1px;
}
.booking-tabs > li > a:hover{
	line-height: 1.8;
	color: #000;
	margin-right: -1px;
}
.guest-booking-tabs {
	border-bottom: 1px solid rgb(221, 221, 221);
	background-color: rgb(28, 28, 28);
	
}
.guest-booking-tabs > li{
	width: 33%;
	text-align: center;
	font-weight: 700;
	margin-top: -3px;
	margin-bottom: 0px;
}
.guest-booking-tabs > li > a{
	border-radius: 0 0 0 0 !important;
	color: #fff;
	font-size: 15px !important;
	line-height: 1.8;
	padding: 7px 15px;
}
.guest-booking-tabs > li.active > a, 
.guest-booking-tabs > li.active > a:hover, 
.guest-booking-tabs > li.active > a:focus{
	background-color: #90270F;
	border-color: transparent !important;
	color: #fff;
	line-height: 1.8;
	margin-right: -1px;
}
.guest-booking-tabs > li > a:hover{
	line-height: 1.8;
	color: #000;
	margin-right: -1px;
}
.tab-pane{
	padding: 0px 20px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin-bottom: 40px;
	padding-bottom: 25px;
}
.room-book{
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px 15px;
}
.adsf{
	background-color: #1c1c1c;
	border-left: 5px solid #90270F;
}
.adsf a{
	color: #d18706;
}
p.edit strong{
	font-family: "Georgia",serif;
	color: #ffffff;
	font-size: 20px;
	margin-right: 15px;
	line-height: 1.8;
}
.fdsa{
	min-height: 100px;
}
.fdsa p{
	margin: 0px !important;
	text-align: left;
	font-size: 13px;
	line-height: 1.5;
}
p.bold {
	font-weight: 700 !important;
	text-align: left;
}
p.additional-tag{
	color: #d18706;
	font-family: "Open Sans", sans-serif !important;
	font-size: 13px;
	font-style: italic;
	text-align: left;
}
.request{
	margin-top: 15px;
	background-color: #EEEEEE;
}
span.special1, span.special1 a,
span.special2, span.special2 a,
span.special3, span.special3 a{
	font-weight: 600;
	color: #90270f;
	line-height: 2.5;
}
.expand-request{
	background-color: #EEEEEE;
	border-top: 1px solid #bbb;
	padding: 10px;
}
.other-request{
	margin-top: 10px;
}
.request-input{
	padding: 0px;
}
.rate-details{
	margin: 20px 0px;
	padding: 0px;
}
.rate-details p{
	font-size: 12px !important;
	color: #666666;
}
.rate-details p.bold{
	font-size: 12px !important;
	color: #3a3a3a;
	font-weight: 700;
}
.rate-details p.boldlabel{
	font-size: 13px !important;
	color: #3a3a3a;
	font-weight: 700 !important;
	text-align: left;
}
.total-biaya, .pajak, .harga-dasar{
	border-top: 1px solid #dddddd;
	margin: 0px;
	min-height: 50px;
	padding: 0px;
}
.harga-dasar{
	border-bottom: 1px solid #dddddd;
}
.total-biaya p.bold, .pajak p.bold, .harga-dasar p.bold{
	margin-top: 15px !important;
}
.lab{
	padding: 0px;
}
.num, .num p.bold{
	text-align: right !important;
}
.num p.pricetag{
	font-size: 18px;
	margin-top: 10px !important;
}
button[type='edit']
{
  background-color: #aaaaaa;
  border: 0px solid #aaaaaa;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  color: #ffffff;
  padding: .45em 1em;
  font-weight: 700;
  font-size: 15px;
  width: 100%;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button[type='edit']:hover
{
  outline: none;
  background-color: #888888;
  border-bottom: 3px solid rgba(0,0,0,0.2);
}
button[type='continue']
{
  background-color: #d18706;
  border: 0px solid #d1690b;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  color: #ffffff;
  padding: .45em 1em;
  font-weight: 700;
  font-size: 15px;
  width: 100%;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button[type='continue']:hover
{
  outline: none;
  background-color: #b07000;
  border-bottom: 3px solid rgba(0,0,0,0.2);
}
.form-guest{
	padding: 20px 0;
}
.form-guest label, .form-horizontal .control-label, .form-guest p, .notes p{
	font-family: "Open Sans",serif;
	font-weight: 400;
	font-size: 13px;
	color: #6a6a6a;
	text-align: left;
}
.form-guest hr{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border-right: 0px none;
	border-width: 1px 0px 0px;
	border-style: solid none none;
	border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color;
}
.form-guest p.bold{
	font-size: 16px;
	color: #3a3a3a;
	margin-bottom: 30px !important;
}
span.left,a.left{
	float: left;
}
span.right,a.right{
	float: right;
}
.main-form{
	padding: 20px;
}
.notes{
	margin: auto;
}
.notes p{
	text-align: center;	
}
.guest-info,.payment-info, .payment-confirm{
	border-bottom: 1px solid #dddddd;
	margin-bottom: 30px;
	padding: 0px;
}
.guest-info p,.payment-info p, .payment-confirm p{
	font-size: 20px;
	font-family: "Georgia",serif !important;
	margin: 0px !important;
	color: #3a3a3a;
}
#address2{
	margin-top: 20px;
}
.payment-tabs {
	border-bottom: none !important;
	background-color: transparent !important;
	margin: 0px 0px !important;
}
.payment-tabs > li{
	width: auto !important;
	text-align: center;
	font-weight: 700;
	background-color: #eeeeee;
	border-top: 4px solid #aaaaaa;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin-right: 7px;
	margin-bottom: -1px;
}
.payment-tabs > li.active{
	border-top: 4px solid #90270F;
	background-color: #ffffff;
}
.payment-tabs > li > a{
	border-radius: 0 0 0 0 !important;
	color: #3a3a3a !important;
	font-size: 15px !important;
	font-family: "Georgia", serif !important;
	line-height: 0.8 !important;
	padding: 9px 15px;
	margin-right: -1px;
}
.payment-tabs > li.active > a, 
.payment-tabs > li.active > a:hover, 
.payment-tabs > li.active > a:focus{
	background-color: #FFFFFF !important;
	color: #3a3a3a !important;
	line-height: 0.8 !important;
	margin-right: 0px;
}
.payment-tabs > li > a:hover{
	line-height: 0.8 !important;
	color: #000;
	background-color: #ffffff;
}
#payment-tab-content > .tab-pane{
	display: none;
}
#payment-tab-content > .active{
	display: block;
}
.payment{
	padding: 15px;	
}
.credit-card, .bank{
	border: 1px solid #dddddd;
	padding: 30px 0;
}
.card-detail{
    margin: 0px;
}
.form-group, 
.zero-left{
	padding-left: 0px;
}
 .zero-left > .col-md-6{
 	padding-left: 0px;
 	padding-right: 6px;
 }
input[type=form]
{
  padding: .6em 1em;
  height: 38px;
  font-weight: 200;
  background-color: #FCFCFC;
  margin-right: 10px;
  margin-top: 5px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=form]:focus,
{
  outline: none;
  border-color: #DDDDDD;
  background-color: #FFFFFF;
}
.border-dropdown > .dropdown:focus,.form-control:focus {
	border-color: #66AFE9;
    outline: 0px none;
  	box-shadow: 0px 0px 0px;
  	background-color: #FFFFFF;
}
.border-dropdown > .dropdown {
    border: 1px solid #dddddd !important;
    -moz-user-select: none;
    width: 100% !important;
    border-radius: 0px !important;
  	font-weight: 200 !important;
  	font-size: 13px;
  	margin-bottom: 0px;
  	height: 36px;
  	margin-top: 5px;
}
.border-dropdown > .dropdown{
	-webkit-appearance: none !important;
}
.border-dropdown > .dropdown .selected,.border-dropdown > .dropdown li {
	line-height: 20px !important;
	font-size: 13px !important;
	color: #757575;
}
.border-dropdown > .dropdown li:hover,.border-dropdown > .dropdown li:focus {
	background: #66AFE9;
	color: #ffffff;
}
.border-dropdown > .dropdown .carat {
	border-color: #757575 transparent transparent;
}
.border-dropdown > .dropdown.open .carat {
border-color: #757575 transparent;
}
.border-dropdown > .dropdown div {
	left: -1px;
	right: -1px;
	z-index: 10;
}
.dropdown.open div {
opacity: 1;
z-index: 10;
}
/* Confirmation Page */
.form-payment{
	padding: 20px 0;
	border-bottom: 1px solid #dddddd;
}
.payment-desc{
	margin-bottom: 40px;
}
.payment-info .payment-link{
	float: right;
	margin-top: -25px;
}
.payment-link a{
	color: #D18706;
}
.payment-link a:hover{
	color: #2A6496;
}
.payment-details{
	margin: 0px 50px;
	padding: 20px 0px;
	border-bottom: 1px solid #dddddd;
}
.payment-details p{
	margin: 0px 0px 10px !important;
	color: #6a6a6a;
}
.payment-details dl{
	padding: 0px;
	font-size: 14px;
	font-weight: 700;
}
.dl-payment dt{
	width: auto;
}
.dl-payment strong{
	color: #D18706;
	font-weight: 400;
	font-style: italic;
}
.bank-details{
	margin: 24px;
}
.bank-details p{
	margin: 0px 10px !important;
	color: #6a6a6a;
}
.bank-details p.bold{
	color: #000000;
}
.confirm-form{
	margin: 30px;
	padding: 0px;
}
.form-horizontal .control-label{
	padding-top: 13px;
}
.control-label{
	padding-right: 0px;
}
.button-confirm{
	float: none;
	margin: auto;
}
.inpad{
	padding: 0px 30px !important;
}
.reservation, .form-reservation{
	border-bottom: 0px;
	padding-bottom: 0px;
}

/* ============================= Single-room style  ================================ */

.single-slide{
	padding: 20px 0px 15px 0px;
	position: relative;
}
.single-check-box{
	margin-top: 0px !important;
}
.container-single{
	margin-top: 0px !important;
	margin-bottom: 40px;
	background-color: #ffffff;
	padding: 20px 10px;
	border: 1px solid #dddddd;
}
.room-title{
	margin: 0px 15px;
	padding: 0px;
	border-bottom: 1px solid #dddddd;
}
.room-title h3{
	margin-bottom: 20px;
	margin-top: 10px !important;
	margin-left: 0px;
}
.room-title p{
	margin: 20px 0px 30px 0px !important;
}
.room-facilities{
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 0px;
}
p.sub-facility{
	font-size: 18px;
	color: #90270F;
	margin-bottom: 10px !important;
}
.facility-left,.facility-right{
	margin-left: 0px;
	padding-left: 0px;
}
.facility-left p,.facility-right p{
	margin-left: 0px !important;
	margin-bottom: 2px !important; 
}
.facility-left p.bold, .facility-right p.bold{
	margin-bottom: 2px !important;
	margin-top: 10px !important;
}
.facility-right{
	text-align: left;
}
/* ============================= Single-room style  ================================ */
#room-archive{
	margin: auto;
	background-color: #FFFFFF;
	border: 1px solid #dddddd;
	padding: 20px 30px 20px 20px;
	margin-bottom: 40px;
	margin-top:30px;
}
#room-archive #room{
	border: 0px;
	margin: 0px;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #dddddd;
}
#room-archive #room .price{
	background-color: #ffffff;
	padding: 0px 0px 0px 16px;
}
#room-archive #room .thumb{
	padding: 0px;
	margin: 0px;
	padding-right: 8px;
}
#room-archive #room #room-wrap{
	padding: 0px 15px;
	margin: 0px;
}
#bx-pager{
	position: absolute;
	bottom: 30px;
	right: 0px;
	left: 0px;
	z-index: 4;
	text-align: center;
}
#bx-pager img{
	border: 1px solid #ffffff;
	opacity: 0.2;
}
#bx-pager img:hover{
	border: 1px solid #ffffff;
	opacity: 1;
}
#bx-pager a.active img{
	border-color: #66afe9 !important;
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#bx-pager a:hover,#bx-pager a:focus{
	outline: 0;
}
.check p.notif {
  color: #D18706;
  font-size: 12px;
  padding: 5px 0 0;
  margin: 0px !important;
}
/* ============================= Footer style ================================ */


#footer{
	background-color: #222222;
}
#footer p{
	font-family: "Open Sans",Serif;
	color: #dddddd;
	text-align: left;
	font-size: 12px;
}
h3.offer{
	font-weight: 400;
	font-size: 24px;
}
p.caption{
	position: absolute;
	left: 10%;
	font-family: "Open Sans",serif;
	font-weight: 300 !important;
	font-size: 30px;
	top: 45%;
	width: 500px;
}
p.caption span{
	background-color: #ddd !important;
	opacity: 0.7;
	line-height: 1.8;
	padding: 5px;
	color: #000;
}
h4.news{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
}
h4.footer{
	font-size: 19px;
	color: #90270f;
	text-align: left;
	margin-bottom: 10px !important;
	border-bottom: 1px solid rgb(68, 68, 68);
	padding-bottom: 10px;
}
p.contact{
	margin-left: 0px !important;
}
p.testimonial{
	font-family: "Times New Roman",Georgia,Serif !important;
	font-style: italic;
	font-size: 14px !important;
	margin-left: 0px !important;
}
p.tag-testi{
	text-align: right !important;
}
#footer strong{
	color: #c98208;
}
img.social{
	float: left;
	margin-right: 10px;
}
p.link{
	margin: 3px 12px 13px !important;
}
#footprint{
	margin-top: 60px;
	padding: 20px 30px 25px 30px;
}
.footprint{
	padding-left: 0px !important;
}
.bottom{
	border-top: 1px solid #444;
	padding: 20px 0 0 0;
}
p.footprint{
	margin-left: 0px !important;
}
ul.bottom-nav{
	float: right;
	margin-top: -5px !important;
}
.alert ul li{
	list-style: none;
	display: block;
}
li{
	list-style: none;
	display: inline-block;
}
li > a{
	color: #dddddd;
	font-size: 12px;
	text-decoration: none;
}

/* ============================= 320px - 767px viewport ================================ */

@media (min-width: 320px) and (max-width: 767px) {
.main{
	padding-top: 105px;
}
.flex-caption { 
  top: 80% !important;
  font-size: 14px !important;
  margin-left: 20px !important;
}
#header{
	position: fixed;
	width: 100%;
	z-index: 10;
}
#top-nav > li > a {
    font-size: 11px !important;
}
.dropdown-menu {
    max-width: 110px !important;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 15px !important;
}
.nav > li > a {
    padding: 10px 8px !important;
}
ul#main-menu{
	float: left !important;
}
#main-menu,#main-menu > li,#main-menu > li > a{
	height: auto;
}
.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
	border: none;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
	background-color: transparent !important;
}
.navbar-nav .open .dropdown-menu{
	margin-top: 0px;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
}
.nav-tabs > li > a{
	font-size: 12px !important;
	min-height: 58px;
}
.main-form {
    padding: 5px;
}
.payment-tabs > li > a{
	font-size: 14px !important;
	min-height: 1px;
}
.payment {
    padding: 10px;
}
.col-xs-12{
	margin-bottom: 20px;
}
.col-md-4,.col-md-2,.col-md-3{
	margin-bottom: 15px;
}
.form-guest p.bold {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}
button[type="submit"] {
	margin-left: 0px !important;
}
#check-box {
	margin-top: 0px !important;
}
.main-nav{
	padding-left: 15px;
}
 .bx-wrapper .bx-caption{
	left: 20% !important;
}
.bx-wrapper .bx-caption span {
	font-size: 0.65em !important;
	padding: 5px !important;
}
.bx-wrapper .bx-controls-direction a {
    font-size: 25px !important;
    z-index: 9;
}
.input{
	margin-bottom: 5px;
	padding-right: 0px;
}
.picker--opened .picker__frame {
    top: 75px;
}
.check{
	padding-left: 0px;
}
.price{
	padding: 15px;
	margin-bottom: 0px !important;
}
#pilih{
	width: 100%;
}
.dropdown{
  	margin-bottom: 0px;
}
.dropdown .carat {
	right:6%;
}
.column:not(:first-child), 
.column:not(:last-child) {
padding-left: 0px !important;
padding-right: 0px !important;
}
ul.bottom-nav {
float: left;
}
.form-group, .zero-left {
    padding-left: 0px;
    padding-right: 0px;
}
.zero-left > .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}
.payment-tabs > li {
	margin-right: 0px;
	width: 49% !important;
}
.payment-tabs > li:last-child{
	margin-left: 2%;
}
.room-tabs > li{
	width: 32.33% !important;
	margin-right: 0px;
}
.room-tabs > li:nth-child(2), .room-tabs > li:nth-child(3){
	margin-left: 1.47% !important;
}
.room-tabs > li.active {
	margin-right: 0px !important;
}
.room-tabs > li > a{
	min-height: 1px;
}
.expand-request {
	padding: 10px 0px;
}
.other-request {
    padding: 0px 15px !important;
}
/* Confirm tab */
.payment-info .payment-link {
    margin-top: 10px;
}
.payment-details {
    margin: 0px 5px;
}
.dl-payment dt {
    width: 145px;
}
.dl-payment dd {
    margin-left: 146px;
	margin-top: -20px;
}
.dl-payment dd:before,
.dl-payment dd:after {
    display: inline;
    content: " ";
}
.bank-details {
    margin: 24px -20px;
}
.confirm-form {
    margin: 30px 0px;
}
.facility-right{
	margin-top: 20px;
}
#room-archive{
	padding: 20px;
}
#room-archive #room #room-wrap,#room-archive #room .price  {
	padding: 0px;
	margin-top: 25px;
}
#room-archive #room .thumb {
	padding: 0px;
}
}
/* ============================= end 320px - 767px viewport ================================ */

/* ============================= 768px - 980px viewport ================================ */

@media (min-width: 768px) and (max-width: 980px){
.flex-caption { 
  top: 65% !important;
  font-size: 18px !important;
  margin-left: 20px !important;
}
button[type="submit"] {
	margin-left: 0px !important;
}
.main-nav{
	padding-left: 15px;
}
.bx-wrapper .bx-caption{
	left: 10% !important;
}
.bx-wrapper .bx-caption span {
	font-size: 1.25em !important;
	padding: 5px;
}
.carouselh{
	padding-left: 60px;
	padding-right: 50px;
}
.input{
	margin-bottom: 5px;
	padding-right: 0px;
}
.check{
	padding-left: 0px;
}
.dropdown{
  	margin-bottom: 0px;
}
.dropdown .carat {
	right:5.5%;
}
.price{
	padding-right: 30px;
	padding: 15px 30px 0px 30px;
	margin-bottom: 0px !important;
}
#pilih{
	width: 100%;
}
.col-md-4,.col-md-2,.col-md-3{
	margin-bottom: 15px;
}
.form-group, .zero-left {
    padding-left: 0px;
    padding-right: 0px;
}
.zero-left > .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}
.expand-request {
	padding: 15px 0px;
}
.other-request {
    padding: 0px 15px !important;
}
.room-info {
    bottom: -20px;
    left: 7px;
}
.facility-right{
	margin-top: 20px;
}

}

/* ============================= end 768px - 980px viewport ================================ */

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */
}
input[type=text]
{
  background-image: url(img/calendar.png);
    background-position: 95% center;
    background-repeat: no-repeat;
  padding: .6em 1em;
  font-weight: 200;
  margin-right: 10px;
  width: 100%;
  border: none;
  height: 38px;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=text]:focus,
{
  outline: none;
  border-color: #0089ec;
}
textarea[name=request]
{
  font-weight: 400;
  margin-right: 10px;
  width: 100%;
  border: none;
  height: 80px;
  border-radius: 0px;
  font-size: 13px;
  resize:vertical;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=request]:focus,
{
  outline: none;
  border-color: #0089ec;
}
.dropdown {
    border: none !important;
    -moz-user-select: none;
    width: 100% !important;
    border-radius: 0px !important;
  	font-weight: 200 !important;
  	font-size: 16px;
  	height: 38px;
}
.dropdown{
	-webkit-appearance: none !important;
}
.dropdown .selected, .dropdown li {
	line-height: 20px !important;
	font-size: 100% !important;
	color: #757575;
	padding-left: 17px;
}
.dropdown .carat {
	border-color: #757575 transparent transparent;
}
.dropdown.open .carat {
	border-color: #757575 transparent;
}
.dropdown.open .carat{
	margin-top: -5px !important;
	border-top: 8px !important;
}
.dropdown div {
	left: 0px;
	right: 0px;
	z-index: 10;
}

button[type='submit']
{
  background-color: #d18706;
  border: 0px solid #d1690b;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  color: #ffffff;
  padding: .55em 1em;
  font-weight: 700;
  font-size: 15px;
  width: 100%;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button[type='submit']:hover
{
  outline: none;
  background-color: #b07000;
  border-bottom: 3px solid rgba(0,0,0,0.2);
}

.picker__input {
    cursor: default;
}
.bx-wrapper img.full {
    z-index: 1;
    width: 100% !important;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: center !important;
}
.bx-wrapper .bx-viewport {
    box-shadow: none !important;
    border: none !important;
    left: 0px !important;
    background: none !important;
    margin-bottom: 0px !important;
    z-index: 3;
    
}
.bx-wrapper .bx-prev .bx-next{
	background: none !important;
}
.bx-wrapper .bx-controls-direction a {
	text-indent: 1 !important;
	font-size: 40px;
	color: #bbb;
	opacity: 0.6;
	z-index: 1999;
}
.bx-wrapper .bx-caption {	
	bottom: auto;
	left: 10%;
	background: none repeat scroll 0% 0% rgba(221, 221, 221, 0.6);
	width: auto;
	top: 50%;
	max-width: 50%;
}
.bx-wrapper .bx-caption span{
	font-family: "Open Sans",serif;
	font-size: 1.85em;
	font-weight: 300;
	color: #1c1c1c;
}
.picker{
	line-height: 1.57;
}

/* CSS for Sliding Menu */
@media (max-width: 767px)  {
body {
  padding-top: 0px;
  background: #111111;
}
.navbar-header {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  position: fixed;
  text-align: right;
  width: 100%;
  padding-right: 15px;
  }
  .navbar .nav li a  {
    padding: 15px;
  }
  .navbar-brand {
    width: -moz-calc(100% - 110px);
    width: -webkit-calc(100% - 110px);
    width: calc(100% - 110px);
    text-align: center;
  }
.containerr {
    position: relative;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}

.containerr.open-sidebar {
  box-shadow: -1px 0 10px #000000;
  left: 240px;
}

#sidebar {
  background: #111111;
  border: medium none;
  box-shadow: none;
  display: table;
  height: 100% !important;
  max-height: 100%;
  left: -240px;
  top: 0px;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 240px;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}
.containerr.open-sidebar #sidebar {
    left: 0px;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
#sidebar ul li {
  border-bottom: 1px solid #111111;
  box-shadow: 0 1px 0 #2A2A2A;
  margin: 0;
}
#sidebar ul li a {
    padding: 15px !important;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    display: block;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
    background: #1c1c1e;
}
.si-icons span {
    display: inline;
}
svg{
    width: 48px;
    height: 48px;
}
.navbar-toggle{
  padding: 0px;
}
}
.detail_guest_inf{
	width:100%;
	background:#f9f9f9;
	padding:10px;
}
.add-reserv{
  background-color: #90270f !important;
  border: 0px solid #90270f;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  color: #ffffff;
  padding: .35em 1em;
  font-weight: 700;
  font-size: 12px;
  width: 100%;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
