/* reset */

*
{
	border: 0;
	box-sizing: content-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}

/* content editable */

*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }


span{ 
color: #6a6a6a;
display: block;
font-weight: bold;
padding: 3px;
}

/* heading */

h1 { font: bold 100% sans-serif; text-align: left; text-transform: uppercase; }

/* table */

table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td {border-style: solid; }
th {  border: none !important; }
td { border: none !important; }

/* page */

html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #f8f8f8; cursor: default; }

body { 
	box-sizing: border-box;
	height: 11in;
	margin: 0 auto;
	overflow: hidden;
	width: 8.5in; 
}
body { background: none;
border: none; }

/* header */

header { border: medium none;
margin: 0 0 0em;
padding: 0;}
header:after { clear: both; content: ""; display: table; }

header h1 { 
	border-radius: 0.25em;
	color: #333;
	font-size: 29px;
	padding: 0.5em 0;
	width: 100px;
}
header address { float: left; font-size: 75%; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
header address p { margin: 0 0 0.25em; }
header span, header img { display: block; float: right; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
header img { max-height: 100%; max-width: 100%; }
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

/* article */

article, article address, table.meta, table.inventory { margin: 0 0 0em; }
article:after { clear: both; content: ""; display: table; }
article h1 { clip: rect(0 0 0 0); position: absolute; }

article address { float: left; font-size: 125%; font-weight: bold; }

/* table meta & balance */

table.meta, table.balance { float: left; width: 50%; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

/* table meta */

table.meta th { width: 40%; }
table.meta td { width: 60%; }

/* table items */

table.inventory { clear: both; width: 100%; }
table.inventory th { font-weight: bold; text-align: center; }

table.inventory td:nth-child(1) { width: 26%; }
table.inventory td:nth-child(2) { text-align: right; width: 12%; }
table.inventory td:nth-child(3) { text-align: left; width: 12%; }
table.inventory td:nth-child(4) { text-align: right; width: 12%; }
table.inventory td:nth-child(5) { text-align: right; width: 12%; }

/* table balance */

table.balance th, table.balance td { width: 50%; }
table.balance td { text-align: right; }

/* aside */

aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
aside h1 { border-color: #dddddd; border-bottom-style: solid; }

/* javascript */

.add, .cut
{
	border-width: 1px;
	display: block;
	font-size: .8rem;
	padding: 0.25em 0.5em;	
	float: left;
	text-align: center;
	width: 0.6em;
}

.add, .cut
{
	background: #9AF;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
	background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
	border-radius: 0.5em;
	border-color: #0076A3;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 -1px 2px rgba(0,0,0,0.333);
}

.add { margin: -2.5em 0 0; }

.add:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
.cut { -webkit-transition: opacity 100ms ease-in; }

tr:hover .cut { opacity: 1; }

@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add, .cut { display: none; }
}

@page { margin: 0; }
.head_title {
  border-bottom: none;
}
.head_title_print{
  border-bottom: none;
}
.head_title a 
{
	color:#d18706;
	font-size:11px;
	display: block;
	margin:0 5px;
    float: right;
}

thead {
  background: none repeat scroll 0 0 #8e8e8e;
  color:#4e4e4e;
}
.row1 {
  background: none repeat scroll 0 0 #f7f7f7;
  color:#2e2e2e;
}
.row2 {
  background: none repeat scroll 0 0 #e3e3e3;
  color:#2e2e2e;
}
p {
	color: #6a6a6a;
	font-size: 12px;
	font-weight: bold;
	padding: 4px;
}
.header_bill {
	background: none repeat scroll 0 0 #fff;
	height: 147px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.head_title_print{
	border-radius: 0.25em;
	color: #333;
	float: right;
	font-size: 29px;
	padding: 0.5em 0;
	width: 132px;
}
.body_bill { 
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #e9e9e9;
	margin: 100px 0 0;
	padding: 10px;
}
.sparator_header {
  background: none repeat scroll 0 0 #000;
  height: 30px;
}
.container_bill {
	left: 113px;
	padding: 37px;
	position: relative;
}
.container_bill_print {
float: left;
position: relative;
}
.body_bill_print{
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #e9e9e9;
	padding: 10px;
}