/* Bootstrap Reset */

.si-container a.btn {
/*	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;*/
}

.si-container a.btn.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.si-container a.btn.btn-success:active,
.si-container a.btn.btn-success:hover {
	color: #fff;
	background-color: #47a447;
	border-color: #398439;
}

.si-container a.btn.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.si-container a.btn.btn-info:active,
.si-container a.btn.btn-info:hover {
	color: #fff;
	background-color: #39b3d7;
	border-color: #269abc;
}

.si-container a.btn.btn-warning{
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.si-container a.btn.btn-warning:hover,
.si-container a.btn.btn-warning:active {
	color: #fff;
	background-color: #ed9c28;
	border-color: #d58512;
}

.si-container a.btn.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.si-container a.btn.btn-danger:hover,
.si-container a.btn.btn-danger:active {
	color: #fff;
	background-color: #d2322d;
	border-color: #ac2925;
}



/* General */

.menu-booking-menu-container {
	display:inline-block;
}

ul#menu-booking-menu {
	padding:0;
}

ul#menu-booking-menu li {
	list-style-type: none;
	display:inline-block;
	margin-right:10px;
}


/* Event */

#event-panel {
	border-left: 1px solid #ccc;
}

#event-list, #event-panel-container {
	margin-bottom:30px;
}

#event-list table {
	width:100%;
}

#event-list tr td {
	padding:5px 10px;
}

#event-list th {
	text-align:center;
	font-size:16px;
}

#event-list .event-name {
	width: 20%;

}

#event-list .name {

}

#event-list .phone {
	width: 11%;

}

#event-list .room {
	width: 11%;

}

#event-list .date {
	width: 10%;

}

#event-list .time {

}

#event-list .manager {
	width: 8%;
	
}

#event-list .status {
	
}

#event-list .last-edit {
	
}

#event-list .action {
	
}

/** Admin **/

#si-admin #event-list .event-name {
	width: 12%;
}

#si-admin #event-list .name {
	width: 12%;
}

#si-admin #event-list .phone {
	width: 9%;
}

#si-admin #event-list .room {
	width: 9%;
}

#si-admin #event-list .date {
	
	width: 9%;
}

#si-admin #event-list .time {
	width: 10%;
}

#si-admin #event-list .manager {
	width: 7%;
	
}

#si-admin #event-list .action {
	width: 13%;
}

/** Event Conflict **/

#list-same-schedule {
	margin-bottom:40px;
}

#list-same-schedule span {
	font-size: 14px;
	margin-bottom: 10px;
	display: inline-block;
}



.same-schedule-item {
	margin-bottom:20px;
	padding-bottom: 7px;
	border-bottom:1px solid #ccc;
}


.same-schedule-status {
	font-weight:bold;
	text-align:right;
}

/*** Accepted ***/

.Accepted .same-schedule-status {
	color:red;
}

/*** Pending ***/

.Pending .same-schedule-status {
	color:orange;
}

/*** Rejected ***/

.Rejected .same-schedule-status {
	color:green;
}

/* Comment */

#comment-container {
	padding:0;
	list-style-type: none;
	max-height: 400px;
	overflow-y: scroll;
	border: 1px solid #ccc;
}

#comment-container li {
/*	border: 1px solid #eee;
	border-right: none;
	border-top: none;*/
}

.comment-identity {
	background: #f3f3f3;
	padding:10px 20px;
	font-size: 14px;

}

li.self .comment-identity {
	background:red;
}

.comment-name {
	float:left;
	font-size: 14px;
}

.comment-time {
	float:right;
}

.comment-content {
	clear:both;
	padding: 20px;
	min-height:80px;
	font-size:14px;
}

.comment-delete {
	padding:10px 20px 20px 20px;
	text-align:right;
}